<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greatwqs.app.mapper.user.UserlistMapper">
	<resultMap id="BaseResultMap" type="com.greatwqs.app.domain.po.UserPo">
		<result column="ID" jdbcType="BIGINT" property="id" />
		<result column="UserName" jdbcType="VARCHAR" property="userName" />
		<result column="Address" jdbcType="VARCHAR" property="address" />
		<result column="ISValid" jdbcType="TINYINT" property="isValid" />
		<result column="CreateTime" jdbcType="TIMESTAMP" property="createTime" />
		<result column="UpdateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>

	<parameterMap id="User" type="com.greatwqs.app.domain.po.UserPo"/>

	<sql id="Base_Column_List">
		ID, UserName, Address, ISValid, CreateTime, UpdateTime
	</sql>

	<select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from userlist
		where id = #{userId,jdbcType=BIGINT}
	</select>

</mapper>
